[2015-02-10 08:48] ernestas-zekas opened #1 "Quick Buy For Product Variations"
Plugin works great with simple product. Need Quick buy functionality for product variations.

[2015-02-10 08:49] ernestas-zekas opened #2 "Quick Buy With Quantity"
When I set some product quantity and push “Quick buy” button it only adds to cart one product – not the quantity I set.

[2015-02-11 10:42] varunsridharan commented on #1
:+1:  We have updated our plugin with the requested feature

New Plugin Version 0.4
Plugin URL : http://wordpress.org/plugins/woocommerce-quick-buy/

[2015-02-11 10:42] varunsridharan commented on #2
:+1:  We have updated our plugin with the requested feature

New Plugin Version 0.4
Plugin URL : http://wordpress.org/plugins/woocommerce-quick-buy/

[2015-02-11 11:27] #2 closed, assigned to varunsridharan

[2015-02-11 11:27] #1 closed, assigned to varunsridharan

[2015-02-22 09:17] robertbobmattocks opened #3 "Shortcode not displaying on Pages / Posts in correct position"
I understand this is more of a CSS issue as I have found the plugin to do as it is prescribed but the problem I am having is where the button wants to jump to the top of the page rather than sitting in the right spot where I am putting it in a container or div or table or inside another element . I tried several variations of this as well and got the same results . The button is working and functi

[2015-02-23 01:46] varunsridharan commented on #3
Hi,

Bug Fixed And Released A New Version {WooCommerce Quick Buy V0.8}

[2015-02-23 02:50] robertbobmattocks commented on #3
Excellent! I saw that and I was able to complete the rest of my buttons.
Thanks again!

I am seeing a duplicate TOS check boxc and paypal link on the checkout page
that it is redirecting to. I'm not sure If I did this in installing another
plugin or if this is another bug.

Please advise,

Robert Mattocks

On Sun, Feb 22, 2015 at 8:46 PM, Varun Sridharan notifications@github.com
wrote:

##

Robert

[2015-02-23 03:22] varunsridharan commented on #3
Hi,

We think that is might be a bug of our plugin. please allow us some time i will contact you directly via email

[2015-03-01 08:39] #3 closed, assigned to varunsridharan

[2015-04-01 00:52] varunsridharan opened #4 "Required An Option To Add Before And After"
Need a option or hook to add some html before and after button

[2015-04-01 00:53] varunsridharan opened #5 "Unable to add class to quick buy form"
Unable to add class to quick buy form

[2015-07-29 17:10] remcginn opened #6 "A "1" appears where we place the shortcode"
A "1" appears where we place the shortcode.  You can see it in the screenshot immediately above the "Buy Now" button.  The shortcode will place the button in that spot and at the top, but also adds this "1".
How do I get rid of this "1"?

![screenshot_quick_buy](https://cloud.githubusercontent.com/assets/13558791/8964327/d72ad370-35d9-11e5-9a07-24f360495929.png)

[2015-07-29 17:14] remcginn commented on #2
I am using ver 0.12.1 and it seems this issue has resurfaced.  I see in the PHP where the quantity value is set to 1.  But it will not pick up the number I adjust in the value field.

[2015-07-29 17:17] remcginn opened #7 "Quick Buy with Quantity"
This was a closed issue (#2), and it seems this issue has resurfaced.  I am using ver 0.12.1, I see in the PHP where the quantity value is set to 1.  But it will not pick up the number I adjust in the quantity field.

Thank you for your help!

Ralph.

[2015-09-12 01:12] varunsridharan commented on #6
issue solved in latest release

[2015-09-12 01:12] #6 closed, assigned to varunsridharan

[2015-09-12 01:12] varunsridharan commented on #5
issue solved in latest release

[2015-09-12 01:12] #5 closed, assigned to varunsridharan

[2015-09-12 01:12] varunsridharan commented on #4
issue solved in latest release

[2015-09-12 01:12] #4 closed, assigned to varunsridharan

[2015-10-04 06:44] varunsridharan commented on #7
Hi,

i checked in my local it perfectly works for me. can you please show me a demo. where the problem occurs

[2015-10-23 08:44] #7 closed, assigned to varunsridharan

[2015-10-26 13:33] acywu opened #8 "Add to Cart button cannot show when Quick Buy Plugin is activated"
![image](https://cloud.githubusercontent.com/assets/7578682/10730147/225ed734-7c29-11e5-9f25-1a0197120aba.png)

[2015-10-29 06:53] varunsridharan commented on #8
Hi,

Sorry for the dealy. :(
can you please tell me more info like

WordPress Version
WooCommerce Version
For Which product type its showing like. this
and if possible a live demo

[2015-11-02 05:04] acywu commented on #8
This bug was fixed in the latest version, thanks!

[2015-11-02 05:04] #8 closed, assigned to varunsridharan

[2015-11-02 05:05] acywu commented on #8
This bug was fixed in the latest version, thanks!

Regards,
Wu Chun-yeung
Alex

On Thu, Oct 29, 2015 at 2:53 PM, Varun Sridharan notifications@github.com
wrote:

[2015-11-23 18:30] tushonline opened #9 "Qty selection not available for Variable products"
Hello,
The plugin works fine on `simple` & `variable` products just fine. Thank you very much.

But, in case of `variable` products - the quantity selection is not available. The form does not display.

To confirm this: I removed `variable` products from plugin settings & kept enabled only for `simple` products -- then only I could see Qty box on variable product.

Hope this helps. Thanks

[2015-12-20 08:52] varunsridharan commented on #9
@tushonline
I am very sorry i dint get any notification about this issue. :(
i will sure check for the issue in my local and fix it :)

[2015-12-20 09:01] GhKings opened #10 "Quick Buy not available for Virtual Products"
I found this wordpress plugin "Woocommerce Quick Buy" which I found to be be very useful but so unlucky for me, it doesn't yet support "variable product". It would be awesome if it did - thanks.

[2016-01-31 07:05] aurlev opened #11 "translate make problem with"
while translate to an rtl lang (use wordpress setting) there almost have no option to edit product as downlowd or virtual. all that line is just moving some how to the other side of the line. triyng to fix it with update old version of wordpress  or turn off the other plugins did not fix it.
it look to me as a woocommerce bug
l

[2016-01-31 07:08] varunsridharan commented on #11
@aurlev
Hi
I really cant understand the bug. could you please provide me more information with some screenshots too.

And if its a WooCommerce bug please post this into the woocommerce repo. not here .

Thanks

[2016-01-31 07:39] aurlev commented on #11
hi technofreaky
hear is a screenshot. Thanks
  <img src=https://sites.google.com/site/yamiidigi/home/woo_screenshot.png>

[2016-01-31 10:19] varunsridharan commented on #11
@aurlev This issue is not with our plugin :(

[2016-01-31 10:34] aurlev commented on #11
technofreaky  , it happen only when use the wp translate (site lang as rtl). i know the woo conect it to be translated either. so it seems to me that the issue while woo contact to wp lang.

any way if you will do an idea to solve it will be Appreciated

other issue is on the review -even that  " Ratings are required to leave a review" is not sign. The  required remained. And there is not any way

[2016-01-31 12:25] varunsridharan commented on #11
@aurlev
i told that this is not the correct place report you need to report in WooCommerce .. not here.

this repo is a plugin for woocommerce not woocommerce... understood ?

[2016-01-31 12:34] aurlev commented on #11
wooo i'm sorry so much. your pluggin quik buy is great, Definitely !!

thank you so much !

[2016-04-17 07:10] #11 closed, assigned to nobody

[2016-04-28 11:49] anishpts opened #12 "Plugin conflict"
when click on add to cart button Woocart Popup Lite for WooCommerce plugin is not woking on sinlge prodeuct page. but it is working on shop page.

when deactivate quick buy plugin then it's working fine too.
please solve this problam.

my site url = http://priortechsolutions.com/hairtool/product/flat-iron/model-mvk-11/

[2017-05-17 12:07] maneshmpp opened #13 "Quick Buy button not working for Custom Product types"
Quick Buy button not working for Custom Product types

[2017-05-17 12:34] varunsridharan commented on #13
@Maneshmpp ? can you please explain what product type ?

[2017-05-18 05:23] maneshmpp commented on #13
I have added a new product type called "books". Buy now button is working for Simple product but not for the new one. Below is my code which adds new product type.

[2017-05-18 05:24] varunsridharan commented on #13
@Maneshmpp right now our plugin dose not support custom product types. :(

[2017-05-18 05:24] #13 closed, assigned to nobody

[2017-06-16 20:48] brettshumaker opened #14 "Adding htmlclass to shortcode renders incorrectly"
When using the `htmlclass` attribute on the `[wc_buy_now_link]` shortcode, the value specified is appended to `$defined_class` without a preceding space. This renders that `htmlclass` value useless as it connects to the `quick_buy_'.$pid` class.

Submitting pull request.

[2017-06-16 20:50] brettshumaker commented on #14
@technofreaky - just tagging you so you get a notification on this issue and pull request. 👍

[2017-06-17 01:08] #9 closed, assigned to varunsridharan

[2017-06-17 01:08] #10 closed, assigned to varunsridharan

[2017-06-17 01:08] #14 closed, assigned to varunsridharan

[2017-06-17 01:09] varunsridharan commented on #14
#15 Pull Request Merged :)

[2017-10-05 17:19] BradleyDB opened #16 "Simple Subscriptions with WooCommerce Not Working"
As the title says. When the selected product is a simple subscription, there is no redirect. Other products seem to work fine.

[2017-12-08 10:12] fingerprintweb-person opened #17 "Can't repeat buying"
Hi!
I have shortcode like this:
[wc_quick_buy_link  product="22" label="Buy" qty="1" type="button" htmlclass=" button hero-button smooth"]
First time works, user was redirect to chekout, but whene someone don't buy and go back to product and again click on this button nothing to do.

[2017-12-08 10:14] fingerprintweb-person opened #18 "In shortcode class need space"
in shortcode htmlclass=" button" - is nesesery to add white char on begining

[2017-12-08 10:28] varunsridharan commented on #18
@fingerprintweb can you please explain a bit on what exactly you are trying to say ?

[2017-12-08 13:00] fingerprintweb-person commented on #18
in shortcode atts  htmlclass=" some-class next class" - is nesesery to add space "<space>some-class next class" beacouse in finale code custom classes is merge

[2018-03-11 02:10] LMDOT opened #19 "but is not according to theme style"
i have tried a lot but button is not according to website layout.
i tried to make like add to card but it is not coming.
my website is LMDOT.COM

please mail me the details

[2018-03-22 20:05] muganwas opened #20 "Quick Buy button not working in ajax popup window"
I almost broke my head with this issue. Till i eventually I inspected the buy now button element within the ajax popup and found that it had no event listener while the buy now button on the single product page had an event listener. I went a head and checked the frontend.js file and found that the event listener was not suited for dynamically generated buttons so i had to change `jQuery('.wcqb_bu

[2018-03-28 15:36] zenmedia commented on #16
I had a similar issue, and i updated https://github.com/varunsridharan/woocommerce-quick-buy/blob/master/includes/class-frontend.php#L145 with an array check and added the product types which i required.

[2018-09-28 14:55] petervkay opened #21 "WP admin error"
Fatal error: Call to a member function get_cart() on null in /home/peterbre/public_html/willowwatersmusic.com/wp-content/plugins/woocommerce-quick-buy/includes/common-functions.php on line 50

I'm getting this when editing my page which uses the shortcode. I'm using the Divi theme.

[2018-11-16 12:08] rollinger opened #22 "Quick buy link not working for WC Bundled Products"
When generating quick_buy_link it *only* works for 'simple' product types. Please add condition for other product types (such as bundles, etc...) to:

public function get_product_addtocartLink()
in
woocommerce-quick-buy/includes/class-frontend.php:144

[2019-08-02 18:40] ghost opened #24 "Quick Buy Button conflict with Elementor"
Hey Guys, I found out that this plugin is conflicting with Elementor latest version. Elementor crashes when its necessary to make any change. If quick buy plugin is deactivated, the elementor runs again normally.

[2019-09-02 02:10] #17 closed, assigned to varunsridharan

[2019-09-02 02:10] #18 closed, assigned to varunsridharan

[2019-09-02 02:10] #19 closed, assigned to nobody

[2019-09-02 02:10] #20 closed, assigned to varunsridharan

[2019-09-02 02:10] #21 closed, assigned to nobody

[2019-09-02 02:10] #24 closed, assigned to varunsridharan

[2019-09-05 01:23] varunsridharan commented on #16
Fixed in upcoming version. and its working.

[2019-09-05 01:23] #16 closed, assigned to varunsridharan

[2019-09-05 01:23] #22 closed, assigned to varunsridharan

[2019-09-24 13:01] monishrnath opened #26 "Quick Buy Shortcodes not working"
Woocommerce -> Settings -> Products -> Quick Buy is not available.
The shortcodes are not working. The quick buy button is seen on the product pages and works.

WooCommerce version: 3.7.0
Quick Buy For WooCommerce version: 2.1
Wordpress Version: 5.2.3

Checked all other settings too, no luck. Please advise.
![a1](https://user-images.githubusercontent.com/6657502/65513631-3772bc80-def9-11e9-97cc-da

[2019-09-24 13:08] varunsridharan commented on #26
@monishrnath which shortcode you are using ?

[2019-09-25 04:59] monishrnath commented on #26
Quick buy link to create a tags. Actually the other one also not working.

[2019-09-25 05:04] varunsridharan commented on #26
Hi There

I recently changed the shortcodes please refer https://wordpress.org/plugins/woocommerce-quick-buy/

Also provide the actual short code that you are using

1. `[wc_quick_buy]` will renders an actual click able button
2. `[wc_quick_buy_link]` will returns a actual URL (eg : https://example.com/quick-buy/11/3)

<blockquote><img src="https://ps.w.org/woocommerce-quick-buy/assets/banner-772x

[2019-09-25 05:09] monishrnath commented on #26
https://example.com/quick-buy/11/3 , if I use this directly, I'm getting 404.
Also I used the example on the readme while using the short code.
Still no luck.

Mainly,
Woocommerce -> Settings -> Products -> Quick Buy is not available.

<blockquote><div><strong><a href="https://example.com/quick-buy/11/3">Example Domain</a></strong></div></blockquote>

[2019-09-25 05:17] varunsridharan commented on #26
Well the new version has a lot of changes the settings page is now moved to

WooCommerce => Quick Buy

I kindly request you to check the wordpress.org  plugin's link : https://wordpress.org/plugins/woocommerce-quick-buy/

For updated screenshots & docs and also you need to update your permalinks once you modified your settings. so then only the url http://example.com/quick-buy/11/3 will work

also

[2019-09-25 06:28] monishrnath commented on #26
Thank You so much for your quick response. Its working now.
 Please make sure to update this in the documentation.
The {product_id} to {id} change in the settings and also the updation of Permalinks for it to work.

Great Work, mate! L:ove the plugin.

[2019-09-26 07:36] monishrnath commented on #26
Tried everything, product not adding to cart. Basket is empty. Was working briefly yesterday using link.
button Shortcodes not rendering.
Updated to 2.2

[2019-09-26 08:16] varunsridharan commented on #26
Hi

I can't work on anything until you provide more information. the information which you shared does not help. i would like to have access to your website to check on the issue. so please send me the access. via my email id : varunsridharan23@gmail.com

[2019-09-26 08:53] monishrnath commented on #26
I have sent the details. Please check.

[2019-09-26 13:49] varunsridharan commented on #26
Issue fixed privately

[2019-09-26 13:49] #26 closed, assigned to varunsridharan

[2019-09-27 02:41] #12 closed, assigned to nobody

[2019-09-29 13:50] silentFred opened #27 "Warning and no button using shortcode"
**Describe the bug**
Warning shown when trying to use any shortcodes:
[code]

[2019-09-29 15:07] varunsridharan commented on #27
Hi There

Can you tell me if you have configured the settings for this plugin ?

[2019-09-30 05:25] silentFred commented on #27
Yes i have configured most options

On Sun, Sep 29, 2019, 17:07 Varun Sridharan <notifications@github.com>
wrote:

[2019-10-03 16:47] mdadmin1 opened #28 "error"
**Describe the bug**
i am trying place button on shop page like screenshot please check it There was an error

**Screenshots**
![Screenshot 2019-10-03 at 10 12 39 PM](https://user-images.githubusercontent.com/55654006/66146723-f67e5480-e62a-11e9-95cf-d99d74b1ecf4.png)

[2019-10-16 21:16] lucianahanan opened #29 "since last update, plugin is breaking my site if enabled"
when i enable plugin, wp-admin is no longer acessible - only removing the plugin folder.

Fatal error: Class 'VSP\Base' not found in /home/ipstudio/public_html/www/wp-content/plugins/woocommerce-quick-buy/vendor/varunsridharan/vsp-framework/includes/class-framework-base.php on line 18

using wp last version, woocommerce last version.

[2019-10-25 03:21] varunsridharan commented on #29
@YammYcoding sorry about the delayed response. :-( well i am trying to replicate the same issue here but i can't do you mind sharing FTP Access to debug the issue ?
you can email me @ varunsridharan23@gmail.com

[2019-10-25 03:22] varunsridharan commented on #28
Sorry about the delay please do update the plugin's settings.

[2019-10-30 11:49] rafwlaz commented on #27
@varunsridharan I found what is the problem with shortcode, in `class-link.php` there is an error with key which is getting options:
[code]

should be:
[code]

[2019-10-30 14:43] varunsridharan commented on #27
hi there sorry about that. i will fix it in my next update

[2019-11-30 16:21] stivenmart commented on #27
@varunsridharan Please update the base code plugin, i had the same problem of @rafwlaz their fix works perfectly.

[2019-12-05 02:20] varunsridharan commented on #27
@stivenmart @rafwlaz thats not the proper fix. you need to update your settings page once after plugin is installed. please do check our settings page. we already have an **EXPERIMENTAL** feature for which we set the field's id as `quick_buy_link_product_types` which should not be changed.

[2019-12-05 02:32] #29 closed, assigned to varunsridharan

[2019-12-05 02:32] varunsridharan commented on #28
Fixed in latest version.

[2019-12-05 02:32] #28 closed, assigned to varunsridharan

[2019-12-09 14:46] don-odyssey opened #30 "Doesn;t work"
Installed on latest WordPress with WooCommerce. No button. It seems that this plugin is no longer supported.

[2019-12-13 17:01] Taariqq opened #31 "not working in 5.3.1"
**Describe the bug**
Plugin won't work in wp 5.3.1

[2019-12-14 14:47] varunsridharan commented on #31
@Taariqq please explain on whats the exact issue ? We already tested it with latest WP & WC Version which works great. also make sure that  you have updated the settings and also test the same with the default theme provided by WordPress

[2019-12-27 02:16] swalkergibson commented on #27
@varunsridharan The fix @rafwlaz found does appear to be the right one. If you leave the experimental feature unset, the `enabled_product_types` array will never be passed through to the link generator method.

[2020-01-13 22:44] aichauhan commented on #31
@varunsridharan It's working perfectly on the homepage (Product grid), but not working on the single product page, when I click on the Quick buy button it just pushes the ADD TO CART button and nothing happens after that.
Here is my site's URL you can check yourself: https://www.salecity.pk/
I am running WP 5.3.2

<blockquote><div><strong><a href="https://www.salecity.pk/">SaleCity.pk – High End E

[2020-01-28 16:01] pantic4114 opened #32 "Don't appear the button with shortcode"
**Describe the bug**
I put the shortcode in the customized product page with elementor, but it doesn't show me the button, before if it worked

I tried on different pages in case it was an elemental problem, but nothing, the button does not appear

**To Reproduce**
Steps to reproduce the behavior:
The button don't appear

**Expected behavior**
See the button of quick buy

[2020-01-30 15:24] novelview9 opened #33 "Class 'VSP\Helper' not found error"
recent version is not woring for me
[code]

[2020-01-30 15:26] novelview9 commented on #33
looking similar as this one https://github.com/varunsridharan/woocommerce-quick-buy/issues/29

[2020-01-30 16:14] varunsridharan commented on #33
@novelview9 when did you get this error ?
for example while activating or when updating settings or when clicking quick buy button ?

[2020-01-31 07:12] novelview9 commented on #33
It shown up when I clicked my custom button(which has href "mysite.com/quick-order/7/1" )

I had have already product_id 7 item on my cart before I clicked it.

Actually, Im not good at php (*I'm python developer ), so I din't know how to solve that problem.
and I just changed only that line which occur error to comments and everything works fine.

[2020-01-31 08:01] varunsridharan commented on #33
@novelview9 i am happy to help on this but i would like to know more. would like to share your site's url so i can try and get an idea about it ?

[2020-01-31 08:02] novelview9 commented on #33
Sure. its on developing now.
https://www.youwho.co/

<blockquote><img src="http://13.125.113.24/wp-content/themes/bridge/img/favicon.ico" width="48" align="right"><div><strong><a href="https://www.youwho.co/">YOUWHO | 나를 말해주는 또다른 언어,  YOUWHO</a></strong></div></blockquote>

[2020-01-31 08:05] novelview9 commented on #33
the static "구매하기" button use your library.
(now it only can show up with desktop device)

To use your function with only 1 item,
I've added making empty cart function on custom action with your url request.

so My monkey patch to all about to put on function.php is on the right below.
(sadly, as I told you, Its my first time to write php code haha)
[code]

[2020-01-31 08:09] varunsridharan commented on #33
@novelview9 when opening this url : https://www.youwho.co/?buy-now the plugin seems to be doing its work. where do you get this error ?

<blockquote><img src="http://13.125.113.24/wp-content/themes/bridge/img/favicon.ico" width="48" align="right"><div><strong><a href="https://www.youwho.co/?buy-now">Cart | YOUWHO</a></strong></div></blockquote>

[2020-01-31 08:16] novelview9 commented on #33
as I told you, I've customed your code
[code]
Make that line unused.( with /* */)
I guess its the error about to load VSP\Helper module.

[2020-01-31 08:44] varunsridharan commented on #33
@novelview9 so you are getting that error when using your custom code right ?

[2020-02-01 19:25] novelview9 commented on #33
Nope.
the error is occured by your code.

test your code with empty wordpress site.

class-cart-clear-handler.php
33line is not wokring properly

[2020-04-14 02:45] #33 closed, assigned to varunsridharan

[2020-04-14 02:45] #32 closed, assigned to varunsridharan

[2020-04-14 02:45] #31 closed, assigned to varunsridharan

[2020-04-14 02:45] #30 closed, assigned to nobody

[2020-04-14 02:45] #27 closed, assigned to varunsridharan

[2020-06-28 01:03] Sayeed1440 opened #34 "I have added Quick Buy button to my website"
https://desipajamas.com/home

Everything works fine with the quick buy button. However, its causing issue with the woo-commerce default adds to the cart button.

The functionality of redirecting directly to the checkout page is being added to the add to cart button also.

It worked fine when I deactivated the Quick Buy Plugin.

You can reproduce the issue here;
https://desipajamas.com/product/ston

[2020-07-14 23:32] schnoggo opened #35 "Error when trying to use shortcode"
The goal is to place a few "sell up" buttons on the checkout page.
and a product

![Annotation 2020-07-14 182051](https://user-images.githubusercontent.com/1034069/87486080-04242a00-c600-11ea-8b88-6bc4fcb5b533.png)
I created a button

![Annotation 2020-07-14 182639](https://user-images.githubusercontent.com/1034069/87486103-169e6380-c600-11ea-8026-13b1f7233aa6.png)
![Annotation 2020-07-14 182710](

[2020-07-15 21:08] josemigueli opened #36 "Add To Cart Button redirects to Checkout Page"
I have installed "Quick Buy For Woocommerce" in my store and since the last update the "Add to cart" button redirects to the checkout page. When I disable "Quick buy for Woocommerce" the "Add to cart" button works fine.

What should I do in this case? Is there a way to fix it or should I wait until the next update?

Thanks!

[2020-07-20 14:43] wooassist00 opened #37 "Error when editing Shop Page"
Error when editing shop page - https://prnt.sc/tihdmd

Error codes from WordPress, please fix:

WordPress version 5.4.2
Current theme: Storefront Child 01 (version 2.0.1)
Current plugin: Quick Buy For WooCommerce (version 2.7.3)
PHP version 7.3.18-1+ubuntu18.04.1+http://deb.sury.org/+1

Error Details
=============
An error of type E_ERROR was caused in line 150 of the file /wp-content/plugins/wooc

[2020-07-24 10:58] mynamavi commented on #36
@varunsridharan  Nice plugin. But this bug need to be fixed. May you solve it fast

[2020-07-24 15:10] varunsridharan commented on #36
@mynamavi @josemigueli thanks for reporting the issue.

I am currently working on a new version for @WPOnion which this base of this plugin. and it will be released in a day max. once its done i will fix and push an update for it.

[2020-07-29 03:52] #34 closed, assigned to varunsridharan

[2020-07-31 06:32] #35 closed, assigned to varunsridharan

[2020-08-04 05:11] planetoid2001 opened #38 "No Action on clicking Quick Buy on the Product Page"
Hi Varun,

Hope you are doing well!

I've encountered an issues since a few days wherein on clicking the Quick Buy button, nothing happens. Besides that after clicking on the Quick buy button, all the other buttons on the page stop functioning.

Prior to this the issue I was facing is that on clicking the Quick buy button, the product was getting added to the cart instead of redirecting to the Che

[2020-08-04 06:19] varunsridharan commented on #38
@planetoid2001 Can you please check if your site is generating any javascript errors ?

### How To Open Browser Console
The Browser Console contains important information on Errors. While most of the errors shown are JavaScript related some server related information can get displayed as well.
Chrome:

    Press either CTRL + SHIFT + J to open the “console” tab of the Developer Tools.

#### Altern

[2020-08-04 06:45] planetoid2001 commented on #38
Hi @varunsridharan

There doesn't seems to be any errors. I just checked the console while on the product Page with the plugin active. No Errors and No warnings.
![Capture](https://user-images.githubusercontent.com/69184294/89261694-1e27ba00-d64c-11ea-966e-005f5b1c4bab.PNG)

Thanks

[2020-08-05 10:50] ducanhit066 commented on #38
I have same problem

[2020-08-05 11:33] palashdrvaidyas opened #39 "Buy Now Button gives a 404 Error for products that are listed on home page"
The issue is happening after the recent update in the version of 2.7.4. The buy now to checkout page functionality is working fine on product pages but on the products listed in the home page it is giving a 404 Error.

[2020-08-06 04:57] varunsridharan commented on #39
@palashdrvaidyas can you please share your website link to i can give it a try to understand the exact issue.?

[2020-08-06 04:58] varunsridharan commented on #38
@ducanhit066 @planetoid2001 i tried to replicate the same issue but working fine for me.

Would you mind sharing your website url where this issue is present ?

[2020-08-06 04:58] varunsridharan commented on #37
@wooassist00 fixed in recent update.

[2020-08-06 04:58] #37 closed, assigned to nobody

[2020-08-06 04:59] varunsridharan commented on #36
@mynamavi  @josemigueli  Fixed in recent update

[2020-08-06 04:59] #36 closed, assigned to varunsridharan

[2020-08-06 17:02] josemigueli commented on #36
The plugin works perfect now! Thank you!

[2020-08-07 01:29] cliqer commented on #39
@varunsridharan I have exactly the same problem.

While using a direct link within a button in Home page to:
```https://domain.com/quick-buy/productVariableSlug/qty```
used to work, after latest update it doesn't and throws error 404 and have the below errors on the page.
[code]
Also if I install previous version the same happens so something must have been meshed up with the DB because only a ful

[2020-08-07 12:41] cliqer commented on #39
@varunsridharan Can you please have a look as soon as possible as this is crucial on my case.
Many Thanks

[2020-08-07 12:56] varunsridharan commented on #39
@cliqer

i just checked and it seems. it dosen't seems to be from my plugin.
[code]
my plugin uses the latest hooks provided by WooCommerce. may be it could be from some other plugin or may be you could have been using the older version of Quick Buy.

And i still can't replicate 404 Error!!

[2020-08-07 13:02] cliqer commented on #39
@varunsridharan Thank you for looking at it.
Indeed these functions where some old custom injected functions on another plugin.
Unfortunately the redirection still doesn't work on my case.
Using oxygen and in the home page I have a button with the link posted before.
Putting the link on the browser window of course still does not redirect and throws 404
![image](https://user-images.githubuserconte

[2020-08-07 13:20] cliqer commented on #39
@varunsridharan Please use this link to check yourself:
[https://cliqer.io/quick-buy/starter-yearly/1](https://cliqer.io/quick-buy/starter-yearly/1)

<blockquote><div><img src="https://cliqer.io/wp-content/uploads/2020/06/Cliqer-favicon.png" height="14"> Cliqer.io</div><div><strong><a href="https://cliqer.io/quick-buy/starter-yearly/1">Page not found - Cliqer.io</a></strong></div></blockquote>

[2020-08-07 13:34] varunsridharan commented on #39
@cliqer i think i found the issue.  and this issue seems to be present in older version too and i am not sure how it worked for you before the recent update. anyways i will try to get this fixed asap and push an update.

[2020-08-07 13:44] varunsridharan commented on #39
@cliqer sorry bad news. we never had `slug` feature completed in our plugin to use in the url. i would recommend you to use `sku` instead. !!!!

[2020-08-07 13:46] cliqer commented on #39
@varunsridharan let me try and will report back.
Strangely it was working before update.

[2020-08-07 14:06] cliqer commented on #39
@varunsridharan Tried sku and id, refreshed permalinks but the same happens.
[https://cliqer.io/quick-buy/338/1?code=trial](https://cliqer.io/quick-buy/338/1?code=trial)
BTW these are variations:
![image](https://user-images.githubusercontent.com/3495993/89653707-626ec080-d8bf-11ea-8cc1-bc0572091179.png)

Any other ideas?
What is the plain permalink address of the plugin and its options to debug i

[2020-08-07 14:10] varunsridharan commented on #39
@cliqer
give me some time. let me do some debug and get back to you. in a day

[2020-08-07 16:09] roccosgroi commented on #26
Hi, i have the same problem from few days on avada + woocommerce installation

[2020-08-10 08:06] palashdrvaidyas commented on #39
@varunsridharan Hello
Sharing the staging link for my site https://stagherbuild.wpengine.com/
here you can check the **Limited Time Offer Section**. If you click the buy now it gives a 404 Page not found error. The other product pages are working fine.

[2020-08-11 16:27] planetoid2001 commented on #38
Hi @varunsridharan

Sorry for the Delay, below is a second site that I made for testing purposes and I am facing the same issue with the quick buy button ...

Also, how exactly do I private reply here? :)
Thanks!

[2020-08-11 22:30] dvector commented on #38
@planetoid2001 Your ADD TO CART button also appears to be not working. Both buttons work when I remove the following script `wp-content/themes/oceanwp/assets/js/third/woo/woo-ajax-add-to-cart.min.js?ver=1.8.6` (seen on line 1029 view-source) So its the theme you are using OceanWP that is loading its own ajax-add-to-cart handler and is conflicting?

[2020-08-11 22:58] planetoid2001 commented on #38
Let me check and get back to you. So your saying that if I have an Ajax add
to cart enabled, then the quick buy button may not work? :( I like Ajax

Btw, the Add to cart works only if that's the first button you click after
the page loads ( without clicking the Buy Now button)

Any way this can be fixed in your next release?

Mel

On Wed, Aug 12, 2020, 4:00 AM 33volts <notifications@github.com> wr

[2020-08-12 01:39] varunsridharan commented on #39
@palashdrvaidyas thanks for sharing the dev / staging site. well i just checked the page you said. and it seems to be that the permalinks are not updated properly.
can you try updating your permalinks ?
Also do you have any cache enabled ?

[2020-08-12 01:41] varunsridharan commented on #38
@dvector Thanks for your support :-)

@planetoid2001 can you please share the addtocart ajax plugin download link so i can check & write integration if it requires.

[2020-08-12 02:01] planetoid2001 commented on #38
@varunsridharan Thanks for looking into this!

There's no separate plugin ... its a feature available in the woocommerce customiser ... WooCommerce -> Single Product -> ENABLE AJAX ADD TO CART. I double checked on this and unchecking this option definitely makes your plugin work. So, the problem seems to be the OceanWP / WooCommerce colab I guess. There is an unrelated conversation on a similar pr

[2020-08-13 11:12] palashdrvaidyas commented on #39
Hello @varunsridharan I have already tried updating the product permalink nothing worked for me. Yes I am using cache plugin Fast Velocity Minify on my site plus server-side caching is also enabled.

[2020-08-14 09:18] octoniondesign commented on #38
Hi Varun,

Hope you are doing well!

woocommerce quick buy button not working in IE11.

Could you please help me out with this

Thanks
Mel

[2020-08-18 20:48] cliqer commented on #39
I just ditched the plugin and used:
[code]
as the link on the button.

Thank you for this @varunsridharan; it was great while it lasted but unfortunately doesn't work any more.

[2020-08-19 00:49] varunsridharan commented on #39
@cliqer sorry that i am not able to solve the issue.

the thing right now is that i am not able to replicate the same issue anywhere else in my setup and the end users are not ready to share a test site to debug the issue. :-(

[2020-08-19 01:15] varunsridharan commented on #39
@cliqer @palashdrvaidyas

i have created a new Word Press site and installed WooCommerce & Quick buy.

still am not able to replicate it.

can you guys help in this ?

site at http://***************/
Username: ***************
Password: ***************

<blockquote><div><strong><a href="http://dev.svarun.in/">My WordPress Website – Just another WordPress site</a></strong></div></blockquote>

[2020-08-19 04:15] ravikumarkarri opened #40 "Not redirecting to checkout/cart page after added to the cart"
**Describe the bug**
I have setup to redirect to redirect to checkout page when we click on the buy now button. But product is added to cart successfully.

Please check the below link for your reference.
https://hirawats2.owncreek.com/shop/blue-medical-uniform-scrub-half-sleeve/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://hirawats2.owncreek.com/shop/blue-medical-uniform-scr

[2020-08-19 04:50] palashdrvaidyas commented on #39
HI Varun,

I went through the test website you provided us, i can't see any quick
buy button on Home Page? can you please enabled that as the main issue was
occurred on the home page only.
ᐧ

On Wed, Aug 19, 2020 at 6:46 AM Varun Sridharan <notifications@github.com>
wrote:

--

*Thanks & Regards,*

<https://drvaidyas.com/>
Palash Bhawsar
Web Developer
T: +9122-23541186/8 | M: +91-8982791788
E: tec

[2020-08-19 05:19] varunsridharan commented on #39
@palashdrvaidyas i have given you the admin access and do what ever changes you need to do.

so that i can get debug and find whats wrong with your type of config or if its with my plugin.

[2020-08-21 05:32] rafflestore commented on #39
This issue is also occurring on a number of our websites. It had previously been working fine, but I was alerted by a client that first noticed it happening on Wed 12 August 2020. The [BUY NOW] button on the product pages work fine, but clicking the [BUY NOW] button on the home page gives an error "No Results Found. The page you requested could not be found. Try refining your search, or use the na

[2020-08-21 07:09] rafflestore commented on #39
I have modified your test WordPress site to demonstrate the issue. It occurs when the WooCommerce/Settings/Products/Shop page=Homepage.   Clicking on any of the Red [BUY NOW] buttons on the home page will cause the error 404 to trigger.

[2020-08-21 07:20] varunsridharan commented on #39
@rafflestore thanks will have a look @ it in a day max.

[2020-08-21 07:24] palashdrvaidyas commented on #39
Hi @varunsridharan even i have enabled the buy now in the home page on clicking, its giving a 404 error. Hope this is fine for you to debug the issue.

[2020-08-21 14:27] felini commented on #39
In my case, I changed the option URL Endpoint to 'cart?add-to-cart={id}' and solve my problem for now.

_Just a tip to don't appear 404 error while the fix is not solved._

`cart?add-to-cart={id}`

[2020-08-22 06:08] varunsridharan commented on #40
Duplicate of #39

[2020-08-22 06:09] varunsridharan commented on #39
@felini @palashdrvaidyas @rafflestore @cliqer thanks for your support.
i found the issue and pushed an update please do let me know if there are still issues.

[2020-08-22 06:12] varunsridharan commented on #39
@felini @palashdrvaidyas @rafflestore @cliqer
please do update permalinks once again after you update the plugin.

[2020-08-24 01:59] alephart commented on #39
Hi varunsriddharan,

I have this config in my site:

![image](https://user-images.githubusercontent.com/670120/90995541-d24c9e80-e581-11ea-96e1-5cd24773bb58.png)

Please view Home URL (is the final URL of my Site)  and Site URL (is Wordpress URL)...

Quick Buy Shoe this URL endpoint:

![image](https://user-images.githubusercontent.com/670120/90995668-3c654380-e582-11ea-946b-2f05c1bc0ec4.png)

But

[2020-08-24 02:37] varunsridharan commented on #39
@alephart are you using the latest version of Quick Buy?

Can you share the version number. and once you have updated the plugin you have to save the settings once again and try to update the permalinks

[2020-08-24 02:46] alephart commented on #39
@varunsridharan sure see:

![image](https://user-images.githubusercontent.com/670120/90998470-c7960780-e589-11ea-8014-9328e75a4a0d.png)

I had already installed and updated the permalinks ... it doesn't work.

[2020-08-24 03:04] varunsridharan commented on #39
@alephart weired !!! would you mind sharing site access to debug / can you share screenshot of all the settings options from our plugin ?

[2020-08-24 03:28] alephart commented on #39
@varunsridharan ready, i create an account with your email...

This screenshot settings:

![image](https://user-images.githubusercontent.com/670120/91000602-26aa4b00-e58f-11ea-9cd4-11892d4f15b6.png)

![image](https://user-images.githubusercontent.com/670120/91000635-3fb2fc00-e58f-11ea-8737-8555563673e7.png)

![image](https://user-images.githubusercontent.com/670120/91000656-4a6d9100-e58f-11ea-9032

[2020-08-25 01:09] varunsridharan commented on #39
@alephart

Thanks for supporting this plugin by providing access to your site :-)

Well i was able to check and figure out the issue but not a proper fix for it yet.

Let me explain on whats going on (its a note to myself to )

1. I found your site is WPMU which we haven't tested
2. your site seems to be located inside a folder eg : `https://example.com/your-website` instead of `https://example.co

[2020-08-28 03:32] #40 closed, assigned to varunsridharan

[2020-09-04 01:25] javionniu commented on #38
Hi @varunsridharan

I ran into the same problem, but when I disabled /wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.js through the console, the button resumed its function.

I am using Wordpress 5.5
Woocommerce Quick Buy 2.8.1
![image](https://user-images.githubusercontent.com/14959392/92188675-d3d66a80-ee8f-11ea-9d1a-d89bbb11171c.png)

[2020-09-04 02:42] varunsridharan commented on #38
@javionniu
Yes it will work if you disable it. but the isuse dose not occur in all the sites.

It would be great if you can share the site's link so i can check what kind of issue is that. using which i can try to fix it in the next update.

[2020-10-08 07:39] palashdrvaidyas opened #41 "Redirection to Checkout Page Takes lot of time"
Hi Varun,

On your latest update 2.8.1 the journey of user from buy now to checkout page is taking a lot of time. It almost takes 17-18 seconds to reach the checkout page after clicking the buy now button. Attaching the screenshot for your reference.

Referral Link: https://drvaidyas.com/product/herbocleanse-plus-dr-vaidyas-herbal-hand-sanitizer/

This is causing a huge Drop on my site traffic, ca

[2020-10-12 10:57] federicozinelli opened #42 "Deprecated message after lates Wordpress update"
Here is the message I get after latest wordpress 5.5.1 update.
The message goes away when deactivating the Quick buy plugin.

Deprecated: vsp_framework_loaded is deprecated since version 0.9! Use vsp/loaded instead. in /customers/9/3/6/imberwaterdistillers.com/httpd.www/wp-includes/functions.php on line 5148 Warning: Cannot modify header information - headers already sent by (output started at /cu

[2020-10-12 10:59] varunsridharan commented on #42
@federicozinelli which version of Quick Buy plugin are you using ?

[2020-10-12 11:15] federicozinelli commented on #42
Hi Varun,
I'm using 2.8.1

[2021-02-15 17:43] Sternfeldguy opened #43 "The plugin creates duplicate checkout pages"
Hi All,

I installed this plugin on my woo-commerce website but it caused a duplication issue with my checkout page ([attached screenshot](https://ibb.co/vh2FcGT)).
It seems like each checkout page with uncompleted orders was duplicated.

How do I fix it??

Plugin Version: 2.8.1

[2021-05-01 19:43] Kyatipov opened #44 "Doesnt work with Ocean wp theme quick view."
https://prnt.sc/12d958g

[2022-02-17 02:57] SHENMIYANG opened #45 "Click the Quick Buy button to add products to the cart instead of jumping to the checkout page! Can it be fixed?"
This is my website : https://otilem.com/product/genuine-calfskin-slip-on-sneakers/

[2022-04-04 07:21] 2netgr opened #46 "Does not work with WPML"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

String Translation does not have the text of the button.

[2022-06-09 18:15] pierorado opened #47 "Shortcode Doesn't Work in variable products"
I added the shortcode in woocommerce template variation-add-to-cart-button.php doesn't work

**behavior**
The button must be located between the quantity field and the add cart button

**Screenshots**
![image](https://user-images.githubusercontent.com/43764514/172916054-a6f735ca-6205-47bd-b637-222a57da8631.png)

[2022-06-10 00:48] varunsridharan commented on #47
@pierorado can you please share screenshots and also the code that you used to add in template